/* Footer.css */

.footer-container {
    background-color: rgb(123, 102, 255);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff; 
  }
  